body{
  margin: 0px;
  cursor: url("images/cursor.png"), default;
  font-family: "Shadows Into Light";
}

p, h1{
  font-family: "Shadows Into Light";
}

/*CSS Code for Text*/
a:link{
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
  text-decoration: none;
}

a:hover{
  color: gray;
  text-decoration: none;
}
.container {
  display: grid;
  padding: 0px;
  background-color: lightblue;
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  width: auto;
}


/*CSS Grid for Page Formats*/
.item1 {
  grid-row: 1;
  height: 10vh;
  width: 100vw;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.line {
  grid-row: 2;
  height: 2vh;
  width: 100vw;
  background-color: black;
}

.item3 {
  grid-row: 3;
  height: 85vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item3 img{
  width:inherit;
  height: inherit;
  object-fit: cover;
}

.item4 {
  grid-row: 4;
  height: 3vh;
  width: 100vw;
  background-color: black;
}

/*CSS Code for Logos in Pages for Upper Part*/
.logo a{
  grid-column: 1;
  height: 10vh;
  display: flex;
  align-content: center;
  cursor: url("images/cursor2.png"), default;
}

.logo img{
  padding:10px;
  height: 7vh;
  width: auto;

}

.menu a{
  grid-column: 2;
  height: inherit;
  display: flex;
  align-content: center;
  cursor: url("images/cursor2.png"), default;
}

.menu img{
  padding: 10px;
  height: 7vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.drawing{
  grid-column: 3;
  height: inherit;
  display: flex;
  align-items: end;
}

.drawing img{
  height: inherit;
  width: auto;
  margin-left: auto;
  cursor: url("images/cursor.png"), default;
}

/*CSS Code for Home Page*/
.welcome{
  text-align: center;
  font-size: 60px;
  font-family: "Shadows Into Light";
  color: black;
  background-color: white;
  position: absolute;
  animation-name: example;
  animation-duration: 5s;
  outline-color: black;
  outline-style: solid;
  outline-width: 3px;
}

/*CSS Code for About Page*/
.right{
  justify-content: center;
  align-content: center;
  height: inherit*0.8;
  width: 40vw;
  margin: 5vh;
  object-fit: cover;
}

.left{
  justify-content: center;
  align-content: center;
  height: inherit*0.8;
  width: 40vw;
  margin: 5vh;
  object-fit: cover;
  font-family: "Shadows Into Light";
}


.left p{
  font-size: 1.5vw;
}

/*CSS Code for Index*/
.index_container{
  display: grid;
  padding: 0px;
  background-color: lavenderblush;
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
  width: auto;
}

/*CSS Code for Index Pages*/
.about{
  grid-row: 2;
  font-family: "Shadows Into Light";
  height: 20vh;
  background-color: white;
  text-align: center;
  font-size: 50px;
}

.about a{
  cursor: url("images/cursor2.png"), default;
}

.project{
  grid-row: 3;
  height: 20vh;
  font-family: "Shadows Into Light";
  background-color: white;
  text-align: center;
  font-size: 50px;
}

.project a{
  cursor: url("images/cursor2.png"), default;
}
.other{
  grid-row: 4;
  height: 20vh;
  font-family: "Shadows Into Light";
  background-color: white;
  text-align: center;
  vertical-align: center;
  font-size: 50px;
}

.other a{
  cursor: url("images/cursor2.png"), default;
}

.space1{
  grid-row: 1;
  height: 20vh;
  background-color: white;
}

.space2{
  grid-row: 5;
  height: 20vh;
  background-color: white;
}

/*CSS Code for Project Page*/

.projectpart{
  grid-row: 3;
  display: grid;
  padding: 0vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10vh;
  height: 170vh;
  width: 100vw;
  background-color: white;
}

.projectitem{
  align-self: center;
  width: 30vw;
  height: 35vh;
  background-color: lightblue;
}

.projectitem img{
  width: 30vw;
  height: 35vh;
  object-fit: cover;
  cursor: url("images/cursor2.png"), default;
}


/*CSS Code for Documentation Page*/
.grid-container {
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  height: 70vh;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
}

.grid-item {
  width: 15vw;
  height: 15vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.grid-item img:hover{
    opacity: 1;
    cursor: url("images/cursor2.png"), default;
}

.grid-item img{
  height: 20vh;
  width: 15vw;
  margin-left: auto;
  object-fit:contain;
}

@keyframes example {
  0%{font-size: 80px}
  20%{font-size: 60px}
  40%{font-size: 80px}
  60%{font-size: 60px}
  80%{font-size: 80px}
  100%{font-size: 60px}
}


@media screen and (max-width: 400px){
  .projectitem{
    width: 100vw;
  }
  .projectpart{
    width: 100vw;
  }
  .projectpart{
      grid-template-columns: repeat(1,1fr);
  }

  .projectitem img{
    width:100vw;
  }

  .left p{
    font-size: 10px;
  }
  .right img{
    width: 100vw;
  }

  .left{
    margin: 0px;
    width: 80vw;
  }

  .right{
    width: 100vw;
    margin: 0px;
  }
  .item3{
    display: flex;
    flex-direction:column;
  }

  .grid-container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
}
