body{
  margin: 0px;
}


/*CSS Code for Text*/
a:link{
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
  text-decoration: none;
}

a:hover{
  color: gray;
  text-decoration: none;
}
.container {
  display: grid;
  padding: 0px;
  background-color: lightblue;
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  width: auto;
}


/*CSS Grid for Page Formats*/
.item1 {
  grid-row: 1;
  height: 10vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.line {
  grid-row: 2;
  height: 2vh;
  background-color: black;
}

.item3 {
  grid-row: 3;
  height: 85vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item4 {
  grid-row: 4;
  height: 3vh;
  background-color: black;
}

/*CSS Code for Logos in Pages for Upper Part*/
.logo a{
  grid-column: 1;
  height: 10vh;
  display: flex;
  align-content: center;
}

.logo img{
  padding:10px;
  height: 7vh;
  width: auto;
}

.menu a{
  grid-column: 2;
  height: inherit;
  display: flex;
  align-content: center;
}

.menu img{
  padding: 10px;
  height: 7vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.drawing{
  grid-column: 3;
  height: inherit;
  display: flex;
  align-items: end;
}

.drawing img{
  height: inherit;
  width: auto;
  margin-left: auto;
}

/*CSS Code for Index*/
.index_container{
  display: grid;
  padding: 0px;
  background-color: lavenderblush;
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
  width: auto;
}

/*CSS Code for Index Pages*/
.about{
  grid-row: 2;
  height: 20vh;
  background-color: white;
  text-align: center;
  font-size: 40px
}

.project{
  grid-row: 3;
  height: 20vh;
  background-color: white;
  text-align: center;
  font-size: 40px
}

.other{
  grid-row: 4;
  height: 20vh;
  background-color: white;
  text-align: center;
  vertical-align: center;
  font-size: 40px
}

.space1{
  grid-row: 1;
  height: 20vh;
  background-color: white;
}

.space2{
  grid-row: 5;
  height: 20vh;
  background-color: white;
}

.projectpart{
  grid-row: 3;
  display: grid;
  padding: 150px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 70px;
  height: 170vh;
  background-color: white;
}

.projectitem{
  align-self: center;
  width: 30vw;
  height: 35vh;
  background-color: lightblue;
}


.projectitem1{
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
}

.projectitem2{
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
}

.projectitem3{
  grid-row: 3;
  grid-column: 1;
  justify-self: end;
}

.projectitem4{
  grid-row: 4;
  grid-column: 2;
  justify-self: end;
}

.grid-container {
  width: 60vw;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  height: 70vh;
  grid-row: 3;
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
}

.grid-item {
  width: 20vw;
  height: 15vh;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

.grid-item img:hover{
    opacity: 1;
}

.grid-item img{
  max-width: 200px;
  height:inherit;
  width:inherit;
  object-fit: contain;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container-art {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
